.recetas{
    background: #e5e5e5;
    /* Para alinearlos utilizo flex */
    display: flex;
    /* Para que se formen en columnas flex-wrap: wrap; */
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5rem 0 0 0;
    
}

