.destaques{
    display: grid;
    grid-template-columns: 25% 25% 25% 24%;
    grid-template-rows: 33.33% 33.33% 33.33%;
    height: calc(100vh - 50px);
    /* padding: 0.2rem; */
    gap: 0.2rem; /* Espaciado de los hijos de este div */
}
/* DESTAQUES IMAGENES */
.destaques__principal{
    background: url("../../img-grid/fortnite.jpg") no-repeat center/cover;
    grid-column: 1 / 4;
    grid-row: 1 / 3;
}

.destaques__secundario:nth-child(2){
    background: url("../../img-grid/pubg.jpg") no-repeat center/cover;
    
    grid-column: 4 / 4;
    grid-row: 1 / 2;
}
.destaques__secundario:nth-child(3){
    background: url("../../img-grid/slack.png") no-repeat center/cover;
    grid-column: 4 / 4;
    grid-row: 2 / 2;
}
.destaques__secundario:nth-child(4){
    background: url("../../img-grid/whatsapp.png") no-repeat center/cover;
    grid-column: 4 / 5;
    grid-row: 3 / 3;
}
.destaques__secundario:nth-child(5){
    background: url("../../img-grid/cs-go.jpg") no-repeat center/cover;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.box{
    align-items: flex-end;
    display: flex;
    justify-content: center;
}

/* DESTAQUES IMAGENES TITULOS */
.destaques__titulo{
    color: #fdfdfd;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    text-align: center;
    padding: .6rem;
}

/* DESTAQUES CATEGORIAS */
.destaques__categorias{
    grid-column: 1 / 3;
    grid-row: 3 / 4;
}
.destaques__categorias___lista{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-between;
}
.destaques__categorias___item{
    align-items: center;
    background: #fdfdfd;
    color: #333333;
    display: flex;
    width: 50%;
    padding: 1rem;
}
.destaques__categorias___link{
    color: inherit;
}

